.main-content{
    display: flex;
    justify-content: space-around;
}
.component{
    display: inline-table;
    /* justify-content: space-around; */
    padding: 7px; 
    /* margin: 20px; */
    border: 1px solid black;
    border-radius: 15px;
}
.componentTable{
    display: inline-table;
    padding: 7px; 
}